.user-bg-img {
   background-image: url(https://i.morioh.com/200728/b71d4811.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; /* Center the image */
}
