body {
   margin: 0;
   font-family: Shabnam;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
   -moz-appearance: textfield; /* Firefox */
}

.stop-scroll-body {
   overflow-y: hidden;
}
// Toastify Classes
.Toastify__toast {
   border-radius: 6px;
}

.Toastify__toast-theme--light {
   box-shadow: 2px 2px 6px rgb(148 163 184);
}

.Toastify__toast-theme--dark {
   background-color: rgb(30 41 59);
   box-shadow: 2px 2px 6px rgb(15 23 42);
}

.Toastify__close-button {
   align-self: center !important;
   padding-left: 8px;
}

.Toastify__close-button--light {
   opacity: 0.5;
}
.Toastify__close-button--dark {
   opacity: 0.5;
}

@media screen and(max-width:768px) {
   .media-scroll {
      overflow-y: hidden;
   }
}

/* FONTS */
@font-face {
   font-family: Shabnam;
   src: url("../../assets/font/Shabnam.eot");
   src: url("../../assets/font/Shabnam.eot?#iefix") format("FontName-opentype"),
      url("../../assets/font/Shabnam.woff") format("woff"), url("../../assets/font/Shabnam.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: bYekan;
   src: url("../../assets/font/bYekan.ttf");
   font-weight: 400;
   font-style: normal;
}

.font-bYekan {
   font-family: bYekan !important;
}
.font-shabnam {
   font-family: Shabnam !important;
}

.top-17 {
   top: 68px;
}
.top-18 {
   top: 72px;
}
.pt-18 {
   padding-top: 72px;
}

.h-01 {
   height: 1px;
}

.max-h-1000 {
   max-height: 1000px;
}

.w-26 {
   width: 104px;
}

.top-705 {
   top: 30px;
}
.top-702 {
   top: 29px;
}
.z-60 {
   z-index: 60;
}
.z-70 {
   z-index: 70;
}
.z-80 {
   z-index: 80;
}
.z-90 {
   z-index: 90;
}
.z-100 {
   z-index: 100;
}
.z-110 {
   z-index: 110;
}
.z-120 {
   z-index: 120;
}
.z-130 {
   z-index: 130;
}

.transition-01 {
   transition: all 0.1s !important;
}
.transition-02 {
   transition: all 0.2s !important;
}
.transition-03 {
   transition: all 0.3s !important;
}
.transition-05 {
   transition: all 0.5s !important;
}
.transition-1 {
   transition: all 1s !important;
}
.transition-2 {
   transition: all 2s !important;
}

.bottom-13 {
   bottom: 3.25rem;
}

.text-0 {
   font-size: 0;
}

.p-0\.25 {
   padding: 1px;
}
.py-0\.25 {
   padding: 1px 0;
}
.px-0\.25 {
   padding: 0 1px;
}
.pb-0\.25 {
   padding-bottom: 1px;
}
.pt-0\.25 {
   padding-top: 1px;
}
.pr-0\.25 {
   padding-right: 1px;
}
.pl-0\.25 {
   padding-left: 1px;
}
.pr-13 {
   padding-right: 52px;
}
.pr-17 {
   padding-right: 68px;
}
.pr-18 {
   padding-right: 72px;
}
.pr-19 {
   padding-right: 76px;
}
.pl-13 {
   padding-left: 52px;
}
.pl-17 {
   padding-left: 68px;
}
.pl-18 {
   padding-left: 72px;
}
.pl-19 {
   padding-left: 76px;
}
.pl-26 {
   padding-left: 104px;
}
.pl-27 {
   padding-left: 108px;
}

.red-important {
   color: rgb(220 38 38) !important;
}

.visibility-hidden {
   visibility: hidden;
}
