body {
   margin: 0;
   font-family: Shabnam;
}

.stop-scroll-body {
   overflow-y: hidden;
}

@media screen and(max-width:768px) {
   .stop-scroll {
      overflow-y: hidden;
   }
}

/* FONTS */
@font-face {
   font-family: Shabnam;
   src: url("../../assets/font/Shabnam.eot");
   src: url("../../assets/font/Shabnam.eot?#iefix") format("FontName-opentype"),
      url("../../assets/font/Shabnam.woff") format("woff"),
      url("../../assets/font/Shabnam.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: bYekan;
   src: url("../../assets/font/bYekan.ttf");
   font-weight: 400;
   font-style: normal;
}

.font-bYekan {
   font-family: bYekan !important;
}
.font-shabnam {
   font-family: Shabnam !important;
}
